* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #333;
}
.password { width: 80%; 
    padding: 10px; 
    font-size: 16px; 
    margin-bottom: 20px; 
    border: none; 
    border-radius: 5px; 
    background: transparent; 
    background-origin: border-box; 
    background-clip: content-box, border-box; 
}
.container{
    position: absolute;
    width: 300px;
    height: 50px;
}
.container h2{
    position: absolute;
    top: -40px;
    font-size:larger;
    color: white;
    font-weight: 500;
}
.container h2 span{
    font-weight: 600;
}
.container input{
    position: absolute;
    inset: 2px;
    z-index: 10;
    border: none;
    outline: none;
    padding: 12px 15px;
    color: white;
    background: conic-gradient;
    border-radius: 10px;
}
.container .pass-str{
    position: absolute;
    inset: 0;
    background: #111;
    border-radius: 10px;
}
.container .pass-str:nth-child(3){
    filter: blur(5px);
}
.container .pass-str:nth-child(4){
    filter: 10px;
}
